@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#Melbourne Skyline {
    width: 1700px;
}

h1 {
    text-align: center;
    font-size: 70px;
    font-family: "arvo";
    text-decoration: underline;
}

#Luna {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: inline-block;
    border: 10px solid red;
    border-radius: 100px;
}

div {
    vertical-align: center;
    text-align: center;
}

#Penguin {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin: 20px 100px 20px 100px;
    border: 10px solid green;
    border-radius: 100px;
    display: inline-block;
} 

body {
    background-image: url(https://www.benjaminmoore.com.au/cdn/shop/products/CAE8F3_1024x.png?v=1634145587);
    background-repeat: no-repeat;
    background-size: 1700px;
}

h2 {
    width: 660px;
    height: 200px;
    margin: 20px 100px 20px 100px;
    display: inline-block;
    font-family: "Abril Fatface";
    font-size: 20px;
    color: red;
}

h3 {
    width: 600px;
    margin: 20px 20px 40px 50px;
    display: inline-block;
    font-family: "Abril Fatface";
    font-size: 20px;
    color: green;
}

h4 {
    width: 660px;
    height: 200px;
    margin: 20px 100px 20px 100px;
    display: inline-block;
    font-family: "Abril Fatface";
    font-size: 20px;
    color: blue;
}

#Mcg {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: inline-block;
    border: 10px solid blue;
    border-radius: 100px;
}

a {
    color: blue;
}
